<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title>Phân hệ xử lý hồ sơ dịch vụ công trực tuyến</title>	
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="{{=response.keywords}}" />
	<meta name="description" content="{{=response.description}}" />
	<link rel="stylesheet" href="{{=URL('static','css/bootstrap.min.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','css/web2py-bootstrap3.css')}}"/>
	<link href="{{=URL(r=request,c='static',f='plugin_sms/css/login.css')}}" rel="stylesheet" type="text/css" />
	{{include 'web2py_ajax.html'}}

</head>


<body>
<div class="container">

      <div class="form-signin">
        <h2 class="form-signin-heading">{{=T('Đăng nhập hệ thống')}}</h2>
        <div id="web2py_user_form">
				  {{=form}}
				  {{if request.args(0)=='login':}}
				  {{if not 'register' in auth.settings.actions_disabled:}}
				  <br/>
				  <a href="{{=URL(args='register')}}">{{=T('Register')}}</a>
				  {{pass}}
				  {{if not 'request_reset_password' in auth.settings.actions_disabled:}}
				  <br/>
				  <a href="{{=URL(args='request_reset_password')}}">{{=T('Lost Password')}}</a>
				  {{pass}}
				  {{pass}}
				  
				</div>
      </div>

    </div>
 
</body>




<script language="javascript"><!--
      jQuery("#web2py_user_form input:visible:enabled:first").focus();
      //--></script>

