		<div class="sidebar-search">
				<div class="input-group custom-search-form">
					<input type="text" class="form-control" placeholder="Nhập từ khóa...">
					<span class="input-group-btn">
						<a class='btn submit'>
							<i class="fa fa-search"></i>
						</a>
					</span>
				</div>
				<!-- /input-group -->
		</div>
		<ul class="nav" id="side-menu">
			<li><a  href="{{=URL(c='plugin_auth',f='set_password')}}" class='sf_1'><i class="fa fa-refresh fa-fw"></i> Cấp lại mật khẩu</a></li>
			<li><a  href="{{=URL(c='plugin_auth',f='users')}}" class='sf_1'> <i class="fa fa-user fa-fw"></i> Quản lý người dùng</a></li>
			<li><a  href="{{=URL(c='plugin_auth',f='group')}}" class='sf_1'><i class="fa fa-tags fa-fw"></i> Quản lý nhóm</a></li>
			<li><a  href="{{=URL(c='plugin_auth',f='set_level')}}" class='sf_1'><i class="fa fa-database fa-fw"></i> Quyền trên bản ghi</a></li>
			<li><a  href="{{=URL(c='plugin_auth',f='permission')}}" class='sf_1'><i class="fa fa-tag fa-fw"></i> Quản lý quyền</a></li>
			<li><a  href="{{=URL(c='plugin_auth',f='set_table')}}" class='sf_1'><i class="fa fa-table fa-fw"></i> Quyền trên bảng dữ liệu</a></li>
			<li><a  href="{{=URL(c='plugin_auth',f='init')}}" class='sf_1'><i class="fa fa-flash fa-fw"></i> Thiết lập ban đầu</a></li>
		</ul>
