{{extend 'plugin_auth/layout.html'}}

<script language="javascript" type="text/javascript">
	function kiemtra()
	{
		if(document.getElementById('txtpass1').value== '')
		{
			alert('Chưa nhập mật khẩu')
			return false
		}
		if(document.getElementById('txtpass1').value.length <6 )
		{
			alert('Mật khẩu phải dài hơn 6 ký tự')
			return false
		}
		if(document.getElementById('txtpass2').value== '')
		{
			alert('Chưa nhập lại mật khẩu')
			return false
		}
		if(document.getElementById('txtpass1').value != document.getElementById('txtpass2').value)
		{
			alert('Nhập lại mật khẩu không đúng')
			return false
		}
	}
</script>


{{extend 'plugin_auth/layout.html'}}
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">{{=T('Cấp mật khẩu mới')}}</h1>
	</div>
	<!-- /.col-lg-12 -->
</div>
<div class="panel panel-success">
					<div class="panel-body">
						{{=form}}	
					</div>
					</div>