{{extend 'admin/layout.html'}}
<link href="{{=URL('static','plugins/fullcalendar/fullcalendar.css')}}" rel="stylesheet">

<script src="{{=URL('static','plugins/fullcalendar/lib/moment.min.js')}}"></script>
<script src="{{=URL('static','plugins/fullcalendar/lib/jquery.min.js')}}"></script>
<script src="{{=URL('static','plugins/fullcalendar/fullcalendar.min.js')}}"></script>



    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Fullcalendar</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
<script>

	$(document).ready(function() {

		$('#calendar').fullCalendar({
			defaultDate: '2015-02-12',
			editable: true,
			eventLimit: true, // allow "more" link when too many events
			events: [
				{
					title: 'All Day Event',
					start: '2015-02-01'
				},
				{
					id: 1,
					title: 'Kiem tra',
					start: '2015-02-07',
					end: ''
				},
				{
					id: 999,
					title: 'Repeating Event',
					start: '2015-02-09T16:00:00'
				},
				{
					id: 999,
					title: 'Repeating Event',
					start: '2015-02-16T16:00:00'
				},
				{
					title: 'Conference',
					start: '2015-02-11',
					end: '2015-02-13'
				},
				{
					title: 'Meeting',
					start: '2015-02-12T10:30:00',
					end: '2015-02-12T12:30:00'
				},
				{
					title: 'Lunch',
					start: '2015-02-12T12:00:00'
				},
				{
					title: 'Meeting',
					start: '2015-02-12T14:30:00'
				},
				{
					title: 'Happy Hour',
					start: '2015-02-12T17:30:00'
				},
				{
					title: 'Dinner',
					start: '2015-02-12T20:00:00'
				},
				{
					title: 'Birthday Party',
					start: '2015-02-13T07:00:00'
				},
				{
					title: 'Click for Google',
					url: 'http://google.com/',
					start: '2015-02-28'
				}
			]
		});
		
	});

</script>

<div id='calendar' style="max-width:900px; margin:0 auto;"></div>
