{{include 'web2py_ajax.html'}}
<script src="{{=URL('static','%s/js/bootstrap-datepicker.js')%(static_default)}}" charset="UTF-8" type='text/javascript'></script>
<link href="{{=URL('static','%s/css/datepicker.css')%(static_default)}}" rel='stylesheet' type='text/css' />

<script src="{{=URL('static','%s/js/chosen.jquery.js')%(static_default)}}"  type='text/javascript'></script> 
<script src="{{=URL('static','%s/js/chosen.proto.js')%(static_default)}}"  type='text/javascript'></script> 

{{=content}}
		


	
