<div class="sidebar-search">
	<div class="input-group custom-search-form">
		<input type="text" class="form-control" placeholder="Nhập từ khóa...">
		<span class="input-group-btn">
			<a class='btn submit'>
				<i class="fa fa-search"></i>
			</a>
		</span>
	</div>
	<!-- /input-group -->
</div>
<ul class="nav" id="side-menu">

<li>
	<a href="{{=URL(c='admin',f='index.html')}}"  class='sf_1'><i class="fa fa-dashboard fa-fw"></i> Bảng điều khiển</a>
</li>
<li>
	<a href="{{=URL(c='admin',f='tem_icon.html')}}" class='sf_1'><i class="fa fa-wrench fa-fw"></i> Icon mẫu</a>
</li>
</ul>
