<html>
 <body>
  <div class="lyrow ui-draggable" style="display: block;">
   <a class="remove label label-danger" href="#close">
    <i class="glyphicon-remove glyphicon">
    </i>
    remove
   </a>
   <span class="drag label label-default">
    <i class="glyphicon glyphicon-move">
    </i>
    drag
   </span>
   <div class="preview">
    <input class="form-control" type="text" value="12"/>
   </div>
   <div class="view">
    <div class="row clearfix">
     <div class="col-md-12 column ui-sortable">
      <div class="lyrow ui-draggable" style="display: block;">
       <a class="remove label label-danger" href="#close">
        <i class="glyphicon-remove glyphicon">
        </i>
        remove
       </a>
       <span class="drag label label-default">
        <i class="glyphicon glyphicon-move">
        </i>
        drag
       </span>
       <div class="preview">
        <input class="form-control" type="text" value="12"/>
       </div>
       <div class="view">
        <div class="row clearfix">
         <div class="col-md-12 column ui-sortable">
          <div class="lyrow ui-draggable" style="display: block; position: relative; opacity: 1; z-index: 0;">
           <a class="remove label label-danger" href="#close">
            <i class="glyphicon-remove glyphicon">
            </i>
            remove
           </a>
           <span class="drag label label-default">
            <i class="glyphicon glyphicon-move">
            </i>
            drag
           </span>
           <div class="preview">
            Banner
           </div>
           <div class="view" id="1">
            <div class="ivinh_display" id="display_1">
             <p style="text-align:center">
              <img alt="" height="360" src="/cms/static/uploads/ckeditor/plugin_ckeditor_upload.upload.87476b11befa9a87.62616e6e65722e6a7067.jpg" width="1920"/>
             </p>
             <p>
             </p>
            </div>
           </div>
          </div>
          <div class="lyrow ui-draggable" style="display: block; position: relative; opacity: 1; z-index: 0;">
           <a class="remove label label-danger" href="#close">
            <i class="glyphicon-remove glyphicon">
            </i>
            remove
           </a>
           <span class="drag label label-default">
            <i class="glyphicon glyphicon-move">
            </i>
            drag
           </span>
           <div class="preview">
            MainMenu
           </div>
           <div class="view" id="2">
            <div class="ivinh_display" id="display_2">
             <div id="menu_main">
              <ul class="sf-menu" id="sf-menu-main">
               <li class="" id="">
                <a class="" href="/cms/portal/folder/tin-tuc" id="">
                 Tin tức
                </a>
               </li>
              </ul>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
      <div class="lyrow ui-draggable" style="display: block; position: relative; opacity: 1; z-index: 0;">
       <a class="remove label label-danger" href="#close">
        <i class="glyphicon-remove glyphicon">
        </i>
        remove
       </a>
       <span class="drag label label-default">
        <i class="glyphicon glyphicon-move">
        </i>
        drag
       </span>
       <div class="preview">
        <input class="form-control" type="text" value="Home 13"/>
       </div>
       <div class="view">
        <div class="row clearfix" id="main_page">
         <div class="col-md-3 column hidden-sm hidden-xs ui-sortable" id="sidebar_left">
          <div class="lyrow ui-draggable" style="display: block;">
           <a class="remove label label-danger" href="#close">
            <i class="glyphicon-remove glyphicon">
            </i>
            remove
           </a>
           <span class="drag label label-default">
            <i class="glyphicon glyphicon-move">
            </i>
            drag
           </span>
           <div class="preview">
            Menu left
           </div>
           <div class="view" id="5">
            <div class="ivinh_display" id="display_5">
             <div class="title_box">
              Danh mục
             </div>
             <div id="menu_linh_vuc">
              <ul class="sf-menu sf-vertical" id="sf-menu-left">
               <li class="" id="">
                <a class="" href="/cms/portal/folder/tin-don-vi" id="">
                 Tin đơn vị
                </a>
               </li>
               <li class="" id="">
                <a class="" href="/cms/portal/folder/tin-trong-nganh" id="">
                 Tin trong ngành
                </a>
               </li>
              </ul>
              <script>
               jQuery(document).ready(function(){
		jQuery('#sf-menu-left').superfish({
			animation: {height:'show'},	// slide-down effect without fade-in
			delay:		 700			// 1.2 second delay on mouseout
		});
	});
              </script>
             </div>
            </div>
           </div>
          </div>
          <div class="lyrow ui-draggable" style="display: block;">
           <a class="remove label label-danger" href="#close">
            <i class="glyphicon-remove glyphicon">
            </i>
            remove
           </a>
           <span class="drag label label-default">
            <i class="glyphicon glyphicon-move">
            </i>
            drag
           </span>
           <div class="preview">
            Tin nổi bật
           </div>
           <div class="view" id="7">
            <div class="ivinh_display" id="display_7">
             <div class="list_news">
              <div class="box_title">
               Home page
              </div>
              <div class="box_content">
               <div class="page_news">
                <div class="col-md-12">
                 <div class="col-md-3 col-xs-12">
                  <img class="thumbnail" src="http://127.0.0.1:8000/cms/static/uploads/news/120x90/23-10-2000-2399-1449489782-4615-1457023004.jpg"/>
                 </div>
                 <div class="col-md-9 col-xs-12">
                  <div class="news_title">
                   <a href="/cms/portal/read/tin-don-vi/news/vksnd-toi-cao-vao-cuoc-dieu-tra-vu-lam-oan-huynh-van-nen.html" rel="nofollow">
                    VKSND Tối cao vào cuộc điều tra vụ làm oan Huỳnh Văn Nén
                   </a>
                  </div>
                  <p class="text-right news_time">
                   <em title="tag em position on_publich">
                   </em>
                  </p>
                  <p class="text-justify news_summary">
                   Cục điều tra hình sự lần đầu gặp ông Nén sau gần 3 tháng ông và gia đình yêu cầu xử lý những người tham gia tố tụng khiến họ chịu oan trong 2 vụ án suốt hàng chục năm.
                  </p>
                 </div>
                </div>
                <div class="col-md-12">
                 <div class="col-md-3 col-xs-12">
                  <img class="thumbnail" src="http://127.0.0.1:8000/cms/static/uploads/news/120x90/nhung-giot-nuoc-quy-hon-vang-trong-mua-han-man-khoc-liet.JPG"/>
                 </div>
                 <div class="col-md-9 col-xs-12">
                  <div class="news_title">
                   <a href="/cms/portal/read/tin-don-vi/news/nhung-giot-nuoc-quy-hon-vang-trong-mua-han-man-khoc-liet.html" rel="nofollow">
                    Những giọt nước quý hơn vàng trong mùa hạn, mặn khốc liệt
                   </a>
                  </div>
                  <p class="text-right news_time">
                   <em title="tag em position on_publich">
                   </em>
                  </p>
                  <p class="text-justify news_summary">
                   Hàng ngày, một bà lão ngoài 70 tuổi kéo đường ống ra tận lề đường để chia sẻ nước ngọt miễn phí cho người dân. Nhiều người gọi đây là nước “nghĩa tình” trong mùa hạn hán, xâm nhập mặn khủng khiếp này.
                  </p>
                 </div>
                </div>
                <div class="col-md-12">
                 <div class="col-md-3 col-xs-12">
                  <img class="thumbnail" src="http://127.0.0.1:8000/cms/static/uploads/news/120x90/vu-xe-camry-gay-tai-nan-thay-chet-khong-cuu-vi-vo-cam-hay-so-hai.jpg"/>
                 </div>
                 <div class="col-md-9 col-xs-12">
                  <div class="news_title">
                   <a href="/cms/portal/read/tin-don-vi/news/vu-xe-camry-gay-tai-nan-thay-chet-khong-cuu-vi-vo-cam-hay-so-hai.html" rel="nofollow">
                    Vụ xe Camry gây tai nạn: Thấy chết không cứu vì vô cảm hay sợ hãi?
                   </a>
                  </div>
                  <p class="text-right news_time">
                   <em title="tag em position on_publich">
                   </em>
                  </p>
                  <p class="text-justify news_summary">
                   "Có thể họ vốn là những người tốt và từng làm nhiều việc thiện, nhưng trong vụ tai nạn này họ thấy người chết mà không cứu... Tôi cho rằng một số người đã vô cảm, một số người vì sợ hãi và phiền hà...", Ông Khuất Việt Hùng - Phó Chủ tịch Chuyên trách Ủy ban An toàn giao thông Quốc gia lí giải.
                  </p>
                 </div>
                </div>
                <div class="col-md-12">
                 <div class="col-md-3 col-xs-12">
                  <img class="thumbnail" src="http://127.0.0.1:8000/cms/static/uploads/news/120x90/news.avatar.a70dc631320a5c06.313434393734363535332d656c6c792d7472616e2d362e6a7067.jpg"/>
                 </div>
                 <div class="col-md-9 col-xs-12">
                  <div class="news_title">
                   <a href="/cms/portal/read/tin-don-vi/news/chu-tich-nuoc-cuoi-nhiem-ky-so-nhat-nguoi-ta-noi-lam-viec-kieu-cho-chieu.html" rel="nofollow">
                    Chủ tịch nước: 'Cuối nhiệm kỳ, sợ nhất người ta nói làm việc kiểu chợ chiều'
                   </a>
                  </div>
                  <p class="text-right news_time">
                   <em title="tag em position on_publich">
                   </em>
                  </p>
                  <p class="text-justify news_summary">
                   Vui mừng vì cử tri TP HCM đến kín hội trường trong buổi tiếp xúc cuối cùng, Chủ tịch nước Trương Tấn Sang hứa sẽ giải quyết khiếu nại tồn đọng của người dân trước khi hết nhiệm kỳ.
                  </p>
                 </div>
                </div>
               </div>
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>
         <div class="col-md-9 column ui-sortable" id="main_content">
          {{include}}
         </div>
        </div>
       </div>
      </div>
      <div class="lyrow ui-draggable" style="display: block;">
       <a class="remove label label-danger" href="#close">
        <i class="glyphicon-remove glyphicon">
        </i>
        remove
       </a>
       <span class="drag label label-default">
        <i class="glyphicon glyphicon-move">
        </i>
        drag
       </span>
       <div class="preview">
        <input class="form-control" type="text" value="12"/>
       </div>
       <div class="view">
        <div class="row clearfix">
         <div class="col-md-12 column ui-sortable">
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </body>
</html>