<html>
 <body>
  <div class="lyrow ui-draggable" style="display: block;">
   <a class="remove label label-danger" href="#close">
    <i class="glyphicon-remove glyphicon">
    </i>
    remove
   </a>
   <span class="drag label label-default">
    <i class="glyphicon glyphicon-move">
    </i>
    drag
   </span>
   <div class="preview">
    <input class="form-control" type="text" value="12"/>
   </div>
   <div class="view">
    <div class="clearfix">
     <div class="col-md-12 column ui-sortable">
      <div class="lyrow ui-draggable" style="display: block;">
       <a class="remove label label-danger" href="#close">
        <i class="glyphicon-remove glyphicon">
        </i>
        remove
       </a>
       <span class="drag label label-default">
        <i class="glyphicon glyphicon-move">
        </i>
        drag
       </span>
       <div class="preview">
        <input class="form-control" type="text" value="12"/>
       </div>
       <div class="view">
        <div class="clearfix">
         <div class="col-md-12 column ui-sortable">
          <div class="lyrow ui-draggable" style="display: block; position: relative; opacity: 1; z-index: 0;">
           <a class="remove label label-danger" href="#close">
            <i class="glyphicon-remove glyphicon">
            </i>
            remove
           </a>
           <span class="drag label label-default">
            <i class="glyphicon glyphicon-move">
            </i>
            drag
           </span>
           <div class="preview">
            Banner
           </div>
           <div class="view" id="1">
            <div class="ivinh_display" id="display_1">
             <p style="text-align:center">
              <img alt="" height="360" src="/cms/static/uploads/ckeditor/plugin_ckeditor_upload.upload.87476b11befa9a87.62616e6e65722e6a7067.jpg" width="1920"/>
             </p>
             <p>
             </p>
            </div>
           </div>
          </div>
          <div class="lyrow ui-draggable" style="display: block; position: relative; opacity: 1; z-index: 0;">
           <a class="remove label label-danger" href="#close">
            <i class="glyphicon-remove glyphicon">
            </i>
            remove
           </a>
           <span class="drag label label-default">
            <i class="glyphicon glyphicon-move">
            </i>
            drag
           </span>
           <div class="preview">
            MainMenu
           </div>
           <div class="view" id="2">
            <div class="ivinh_display" id="display_2">
             <div id="menu_main">
              <ul class="sf-menu" id="sf-menu-main">
               <li class="" id="">
                <a class="" href="/cms/portal/folder/tin-tuc" id="">
                 Tin tức
                </a>
               </li>
              </ul>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
      <div class="lyrow ui-draggable" style="display: block; position: relative; opacity: 1; z-index: 0;">
       <a class="remove label label-danger" href="#close">
        <i class="glyphicon-remove glyphicon">
        </i>
        remove
       </a>
       <span class="drag label label-default">
        <i class="glyphicon glyphicon-move">
        </i>
        drag
       </span>
       <div class="preview">
        <input class="form-control" type="text" value="Home 13"/>
       </div>
       <div class="view">
        <div class="clearfix" id="main_page">
         <div class="col-md-3 column hidden-sm hidden-xs ui-sortable" id="sidebar_left">
          <div class="lyrow ui-draggable" style="display: block;">
           <a class="remove label label-danger" href="#close">
            <i class="glyphicon-remove glyphicon">
            </i>
            remove
           </a>
           <span class="drag label label-default">
            <i class="glyphicon glyphicon-move">
            </i>
            drag
           </span>
           <div class="preview">
            Menu left
           </div>
           <div class="view" id="5">
            <div class="ivinh_display" id="display_5">
             <div class="title_box">
              Danh mục
             </div>
             <div id="menu_linh_vuc">
              <ul class="sf-menu sf-vertical" id="sf-menu-left">
               <li class="" id="">
                <a class="" href="/cms/portal/folder/tin-don-vi" id="">
                 Tin đơn vị
                </a>
               </li>
               <li class="" id="">
                <a class="" href="/cms/portal/folder/tin-trong-nganh" id="">
                 Tin trong ngành
                </a>
               </li>
              </ul>
              <script>
               jQuery(document).ready(function(){
		jQuery('#sf-menu-left').superfish({
			animation: {height:'show'},	// slide-down effect without fade-in
			delay:		 700			// 1.2 second delay on mouseout
		});
	});
              </script>
             </div>
            </div>
           </div>
          </div>
          <div class="lyrow ui-draggable" style="display: block; position: relative; opacity: 1; z-index: 0;">
           <a class="remove label label-danger" href="#close">
            <i class="glyphicon-remove glyphicon">
            </i>
            remove
           </a>
           <span class="drag label label-default">
            <i class="glyphicon glyphicon-move">
            </i>
            drag
           </span>
           <div class="preview">
            Tin nổi bật 2
           </div>
           <div class="view" id="12">
            <div class="ivinh_display list_news_100x80" id="display_12">
             <div class="box_title">
              <span>
               <span>
                Tin nổi bật
               </span>
              </span>
             </div>
             <div class="box_content">
              <ul class="list_news">
               <li class="list_item is_first_item">
                <div class="col-md-3 col-xs-12 images">
                 <img class="thumbnail" src="http://127.0.0.1:8000/cms/static/uploads/news/200x150/23-10-2000-2399-1449489782-4615-1457023004.jpg"/>
                </div>
                <div class="col-md-9 col-sm-6 col-xs-12 title">
                 <a href="/cms/portal/read/tin-don-vi/news/vksnd-toi-cao-vao-cuoc-dieu-tra-vu-lam-oan-huynh-van-nen.html" rel="nofollow">
                  VKSND Tối cao vào cuộc điều tra vụ làm oan Huỳnh Văn Nén
                 </a>
                </div>
               </li>
               <li class="list_item is_first_item">
                <div class="col-md-3 col-xs-12 images">
                 <img class="thumbnail" src="http://127.0.0.1:8000/cms/static/uploads/news/200x150/nhung-giot-nuoc-quy-hon-vang-trong-mua-han-man-khoc-liet.JPG"/>
                </div>
                <div class="col-md-9 col-sm-6 col-xs-12 title">
                 <a href="/cms/portal/read/tin-don-vi/news/nhung-giot-nuoc-quy-hon-vang-trong-mua-han-man-khoc-liet.html" rel="nofollow">
                  Những giọt nước quý hơn vàng trong mùa hạn, mặn khốc liệt
                 </a>
                </div>
               </li>
               <li class="list_item">
                <div class="col-md-12 col-xs-12 title">
                 <a href="/cms/portal/read/tin-don-vi/news/vu-xe-camry-gay-tai-nan-thay-chet-khong-cuu-vi-vo-cam-hay-so-hai.html" rel="nofollow">
                  Vụ xe Camry gây tai nạn: Thấy chết không cứu vì vô cảm hay sợ hãi?
                 </a>
                </div>
               </li>
               <li class="list_item">
                <div class="col-md-12 col-xs-12 title">
                 <a href="/cms/portal/read/tin-don-vi/news/chu-tich-nuoc-cuoi-nhiem-ky-so-nhat-nguoi-ta-noi-lam-viec-kieu-cho-chieu.html" rel="nofollow">
                  Chủ tịch nước: 'Cuối nhiệm kỳ, sợ nhất người ta nói làm việc kiểu chợ chiều'
                 </a>
                </div>
               </li>
              </ul>
             </div>
            </div>
           </div>
          </div>
          <div class="lyrow ui-draggable" style="display: block; position: relative; opacity: 1; z-index: 0;">
           <a class="remove label label-danger" href="#close">
            <i class="glyphicon-remove glyphicon">
            </i>
            remove
           </a>
           <span class="drag label label-default">
            <i class="glyphicon glyphicon-move">
            </i>
            drag
           </span>
           <div class="preview">
            Tin nổi bật
           </div>
           <div class="view" id="7">
            <div class="ivinh_display list_news_100x80" id="display_7">
             <div class="box_title">
              <span>
               <span>
                Tin nổi bật
               </span>
              </span>
             </div>
             <div class="box_content">
              <ul class="list_news">
               <li class="list_item">
                <div class="col-md-4 col-xs-12 images">
                 <img class="thumbnail" src="http://127.0.0.1:8000/cms/static/uploads/news/120x90/23-10-2000-2399-1449489782-4615-1457023004.jpg"/>
                </div>
                <div class="col-md-8 col-sm-6 col-xs-12 title">
                 <a href="/cms/portal/read/tin-don-vi/news/vksnd-toi-cao-vao-cuoc-dieu-tra-vu-lam-oan-huynh-van-nen.html" rel="nofollow">
                  VKSND Tối cao vào cuộc điều tra vụ làm oan Huỳnh Văn Nén
                 </a>
                </div>
               </li>
               <li class="list_item">
                <div class="col-md-4 col-xs-12 images">
                 <img class="thumbnail" src="http://127.0.0.1:8000/cms/static/uploads/news/120x90/nhung-giot-nuoc-quy-hon-vang-trong-mua-han-man-khoc-liet.JPG"/>
                </div>
                <div class="col-md-8 col-sm-6 col-xs-12 title">
                 <a href="/cms/portal/read/tin-don-vi/news/nhung-giot-nuoc-quy-hon-vang-trong-mua-han-man-khoc-liet.html" rel="nofollow">
                  Những giọt nước quý hơn vàng trong mùa hạn, mặn khốc liệt
                 </a>
                </div>
               </li>
               <li class="list_item">
                <div class="col-md-4 col-xs-12 images">
                 <img class="thumbnail" src="http://127.0.0.1:8000/cms/static/uploads/news/120x90/vu-xe-camry-gay-tai-nan-thay-chet-khong-cuu-vi-vo-cam-hay-so-hai.jpg"/>
                </div>
                <div class="col-md-8 col-sm-6 col-xs-12 title">
                 <a href="/cms/portal/read/tin-don-vi/news/vu-xe-camry-gay-tai-nan-thay-chet-khong-cuu-vi-vo-cam-hay-so-hai.html" rel="nofollow">
                  Vụ xe Camry gây tai nạn: Thấy chết không cứu vì vô cảm hay sợ hãi?
                 </a>
                </div>
               </li>
               <li class="list_item">
                <div class="col-md-4 col-xs-12 images">
                 <img class="thumbnail" src="http://127.0.0.1:8000/cms/static/uploads/news/120x90/news.avatar.a70dc631320a5c06.313434393734363535332d656c6c792d7472616e2d362e6a7067.jpg"/>
                </div>
                <div class="col-md-8 col-sm-6 col-xs-12 title">
                 <a href="/cms/portal/read/tin-don-vi/news/chu-tich-nuoc-cuoi-nhiem-ky-so-nhat-nguoi-ta-noi-lam-viec-kieu-cho-chieu.html" rel="nofollow">
                  Chủ tịch nước: 'Cuối nhiệm kỳ, sợ nhất người ta nói làm việc kiểu chợ chiều'
                 </a>
                </div>
               </li>
              </ul>
             </div>
            </div>
           </div>
          </div>
         </div>
         <div class="col-md-9 column ui-sortable" id="main_content">
          <div class="lyrow ui-draggable" style="display: block;">
           <a class="remove label label-danger" href="#close">
            <i class="glyphicon-remove glyphicon">
            </i>
            remove
           </a>
           <span class="drag label label-default">
            <i class="glyphicon glyphicon-move">
            </i>
            drag
           </span>
           <div class="preview">
            <input class="form-control" type="text" value="12"/>
           </div>
           <div class="view">
            <div class="clearfix">
             <div class="col-md-12 column ui-sortable">
              {{include}}
              <div class="lyrow ui-draggable" style="display: block;">
               <a class="remove label label-danger" href="#close">
                <i class="glyphicon-remove glyphicon">
                </i>
                remove
               </a>
               <span class="drag label label-default">
                <i class="glyphicon glyphicon-move">
                </i>
                drag
               </span>
               <div class="preview">
                <input class="form-control" type="text" value="6 6"/>
               </div>
               <div class="view">
                <div class="clearfix">
                 <div class="col-md-6 column ui-sortable">
                  <div class="lyrow ui-draggable" style="display: block; position: relative; opacity: 1; z-index: 0;">
                   <a class="remove label label-danger" href="#close">
                    <i class="glyphicon-remove glyphicon">
                    </i>
                    remove
                   </a>
                   <span class="drag label label-default">
                    <i class="glyphicon glyphicon-move">
                    </i>
                    drag
                   </span>
                   <div class="preview">
                    SlideShow News 1
                   </div>
                   <div class="view" id="6">
                    <div class="ivinh_display" id="display_6">
                     <div class="carousel slide ivinhjsc" data-interval="4000" data-ride="carousel" id="carousel-slide-new">
                      <div class="carousel-inner" role="listbox">
                       <div class="item">
                        <a class="news_title" href="/cms/portal/read/tin-don-vi/news/vksnd-toi-cao-vao-cuoc-dieu-tra-vu-lam-oan-huynh-van-nen.html" rel="nofollow">
                         <img src="http://127.0.0.1:8000/cms/static/uploads/news/23-10-2000-2399-1449489782-4615-1457023004.jpg"/>
                         <h2 class="title">
                          VKSND Tối cao vào cuộc điều tra vụ làm oan Huỳnh Văn Nén
                         </h2>
                        </a>
                        <p class="summary">
                         Cục điều tra hình sự lần đầu gặp ông Nén sau gần 3 tháng ông và gia đình yêu cầu xử lý những người tham gia tố tụng khiến họ chịu oan...
                        </p>
                       </div>
                       <div class="item active">
                        <a class="news_title" href="/cms/portal/read/tin-don-vi/news/nhung-giot-nuoc-quy-hon-vang-trong-mua-han-man-khoc-liet.html" rel="nofollow">
                         <img src="http://127.0.0.1:8000/cms/static/uploads/news/nhung-giot-nuoc-quy-hon-vang-trong-mua-han-man-khoc-liet.JPG"/>
                         <h2 class="title">
                          Những giọt nước quý hơn vàng trong mùa hạn, mặn khốc liệt
                         </h2>
                        </a>
                        <p class="summary">
                         Hàng ngày, một bà lão ngoài 70 tuổi kéo đường ống ra tận lề đường để chia sẻ nước ngọt miễn phí cho người dân. Nhiều người gọi...
                        </p>
                       </div>
                       <div class="item">
                        <a class="news_title" href="/cms/portal/read/tin-don-vi/news/vu-xe-camry-gay-tai-nan-thay-chet-khong-cuu-vi-vo-cam-hay-so-hai.html" rel="nofollow">
                         <img src="http://127.0.0.1:8000/cms/static/uploads/news/vu-xe-camry-gay-tai-nan-thay-chet-khong-cuu-vi-vo-cam-hay-so-hai.jpg"/>
                         <h2 class="title">
                          Vụ xe Camry gây tai nạn: Thấy chết không cứu vì vô cảm hay sợ hãi?
                         </h2>
                        </a>
                        <p class="summary">
                         "Có thể họ vốn là những người tốt và từng làm nhiều việc thiện, nhưng trong vụ tai nạn này họ thấy người chết mà không cứu... Tôi cho...
                        </p>
                       </div>
                       <div class="item">
                        <a class="news_title" href="/cms/portal/read/tin-don-vi/news/chu-tich-nuoc-cuoi-nhiem-ky-so-nhat-nguoi-ta-noi-lam-viec-kieu-cho-chieu.html" rel="nofollow">
                         <img src="http://127.0.0.1:8000/cms/static/uploads/news/news.avatar.a70dc631320a5c06.313434393734363535332d656c6c792d7472616e2d362e6a7067.jpg"/>
                         <h2 class="title">
                          Chủ tịch nước: 'Cuối nhiệm kỳ, sợ nhất người ta nói làm việc kiểu chợ chiều'
                         </h2>
                        </a>
                        <p class="summary">
                         Vui mừng vì cử tri TP HCM đến kín hội trường trong buổi tiếp xúc cuối cùng, Chủ tịch nước Trương Tấn Sang hứa sẽ giải quyết khiếu nại...
                        </p>
                       </div>
                      </div>
                      <ol class="carousel-indicators">
                       <li class="" data-slide-to="0" data-target="#carousel-slide-new">
                       </li>
                       <li class="active" data-slide-to="1" data-target="#carousel-slide-new">
                       </li>
                       <li class="" data-slide-to="2" data-target="#carousel-slide-new">
                       </li>
                       <li class="" data-slide-to="3" data-target="#carousel-slide-new">
                       </li>
                      </ol>
                     </div>
                    </div>
                   </div>
                  </div>
                 </div>
                 <div class="col-md-6 column ui-sortable">
                  <div class="lyrow ui-draggable" style="display: block;">
                   <a class="remove label label-danger" href="#close">
                    <i class="glyphicon-remove glyphicon">
                    </i>
                    remove
                   </a>
                   <span class="drag label label-default">
                    <i class="glyphicon glyphicon-move">
                    </i>
                    drag
                   </span>
                   <div class="preview">
                    Tin nổi bật 1
                   </div>
                   <div class="view" id="7">
                    <div class="ivinh_display list_news_100x80" id="display_7">
                     <div class="box_title">
                      <span>
                       <span>
                        Tin nổi bật
                       </span>
                      </span>
                     </div>
                     <div class="box_content">
                      <ul class="list_news">
                       <li class="list_item">
                        <div class="col-md-3 col-xs-12 images">
                         <img class="thumbnail" src="http://127.0.0.1:8000/cms/static/uploads/news/120x90/23-10-2000-2399-1449489782-4615-1457023004.jpg"/>
                        </div>
                        <div class="col-md-9 col-sm-6 col-xs-12 title">
                         <a href="/cms/portal/read/tin-don-vi/news/vksnd-toi-cao-vao-cuoc-dieu-tra-vu-lam-oan-huynh-van-nen.html" rel="nofollow">
                          VKSND Tối cao vào cuộc điều tra vụ làm oan Huỳnh Văn Nén
                         </a>
                        </div>
                       </li>
                       <li class="list_item">
                        <div class="col-md-3 col-xs-12 images">
                         <img class="thumbnail" src="http://127.0.0.1:8000/cms/static/uploads/news/120x90/nhung-giot-nuoc-quy-hon-vang-trong-mua-han-man-khoc-liet.JPG"/>
                        </div>
                        <div class="col-md-9 col-sm-6 col-xs-12 title">
                         <a href="/cms/portal/read/tin-don-vi/news/nhung-giot-nuoc-quy-hon-vang-trong-mua-han-man-khoc-liet.html" rel="nofollow">
                          Những giọt nước quý hơn vàng trong mùa hạn, mặn khốc liệt
                         </a>
                        </div>
                       </li>
                       <li class="list_item">
                        <div class="col-md-3 col-xs-12 images">
                         <img class="thumbnail" src="http://127.0.0.1:8000/cms/static/uploads/news/120x90/vu-xe-camry-gay-tai-nan-thay-chet-khong-cuu-vi-vo-cam-hay-so-hai.jpg"/>
                        </div>
                        <div class="col-md-9 col-sm-6 col-xs-12 title">
                         <a href="/cms/portal/read/tin-don-vi/news/vu-xe-camry-gay-tai-nan-thay-chet-khong-cuu-vi-vo-cam-hay-so-hai.html" rel="nofollow">
                          Vụ xe Camry gây tai nạn: Thấy chết không cứu vì vô cảm hay sợ hãi?
                         </a>
                        </div>
                       </li>
                       <li class="list_item">
                        <div class="col-md-3 col-xs-12 images">
                         <img class="thumbnail" src="http://127.0.0.1:8000/cms/static/uploads/news/120x90/news.avatar.a70dc631320a5c06.313434393734363535332d656c6c792d7472616e2d362e6a7067.jpg"/>
                        </div>
                        <div class="col-md-9 col-sm-6 col-xs-12 title">
                         <a href="/cms/portal/read/tin-don-vi/news/chu-tich-nuoc-cuoi-nhiem-ky-so-nhat-nguoi-ta-noi-lam-viec-kieu-cho-chieu.html" rel="nofollow">
                          Chủ tịch nước: 'Cuối nhiệm kỳ, sợ nhất người ta nói làm việc kiểu chợ chiều'
                         </a>
                        </div>
                       </li>
                      </ul>
                     </div>
                    </div>
                   </div>
                  </div>
                 </div>
                </div>
               </div>
              </div>
              <div class="lyrow ui-draggable" style="display: block;">
               <a class="remove label label-danger" href="#close">
                <i class="glyphicon-remove glyphicon">
                </i>
                remove
               </a>
               <span class="drag label label-default">
                <i class="glyphicon glyphicon-move">
                </i>
                drag
               </span>
               <div class="preview">
                SlideShow News 2
               </div>
               <div class="view" id="11">
                <div class="ivinh_display" id="display_11">
                 <script>
                  jQuery(document).ready(function ($) {
            
            var jssor_1_options = {
              $AutoPlay: true,
              $AutoPlaySteps: 4,
              $SlideDuration: 160,
              $SlideWidth: 200,
              $SlideSpacing: 3,
              $Cols: 4,
              $ArrowNavigatorOptions: {
                $Class: $JssorArrowNavigator$,
                $Steps: 4
              },
              $BulletNavigatorOptions: {
                $Class: $JssorBulletNavigator$,
                $SpacingX: 1,
                $SpacingY: 1
              }
            };
            
            var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);
            
            //responsive code begin
            //you can remove responsive code if you don't want the slider scales while window resizing
            function ScaleSlider() {
                var refSize = jssor_1_slider.$Elmt.parentNode.clientWidth;
                if (refSize) {
                    refSize = Math.min(refSize, 809);
                    jssor_1_slider.$ScaleWidth(refSize);
                }
                else {
                    window.setTimeout(ScaleSlider, 30);
                }
            }
            ScaleSlider();
            $(window).bind("load", ScaleSlider);
            $(window).bind("resize", ScaleSlider);
            $(window).bind("orientationchange", ScaleSlider);
            //responsive code end
        });
                 </script>
                 <style>
                  /* jssor slider bullet navigator skin 03 css */
        /*
        .jssorb03 div           (normal)
        .jssorb03 div:hover     (normal mouseover)
        .jssorb03 .av           (active)
        .jssorb03 .av:hover     (active mouseover)
        .jssorb03 .dn           (mousedown)
        */
        .jssorb03 {
            position: absolute;
        }
        .jssorb03 div, .jssorb03 div:hover, .jssorb03 .av {
            position: absolute;
            /* size of bullet elment */
            width: 21px;
            height: 21px;
            text-align: center;
            line-height: 21px;
            color: white;
            font-size: 12px;
            background: url('img/b03.png') no-repeat;
            overflow: hidden;
            cursor: pointer;
        }
        .jssorb03 div { background-position: -5px -4px; }
        .jssorb03 div:hover, .jssorb03 .av:hover { background-position: -35px -4px; }
        .jssorb03 .av { background-position: -65px -4px; }
        .jssorb03 .dn, .jssorb03 .dn:hover { background-position: -95px -4px; }

        /* jssor slider arrow navigator skin 03 css */
        /*
        .jssora03l                  (normal)
        .jssora03r                  (normal)
        .jssora03l:hover            (normal mouseover)
        .jssora03r:hover            (normal mouseover)
        .jssora03l.jssora03ldn      (mousedown)
        .jssora03r.jssora03rdn      (mousedown)
        */
        .jssora03l, .jssora03r {
            display: block;
            position: absolute;
            /* size of arrow element */
            width: 55px;
            height: 55px;
            cursor: pointer;
            background: url('img/a03.png') no-repeat;
            overflow: hidden;
        }
        .jssora03l { background-position: -3px -33px; }
        .jssora03r { background-position: -63px -33px; }
        .jssora03l:hover { background-position: -123px -33px; }
        .jssora03r:hover { background-position: -183px -33px; }
        .jssora03l.jssora03ldn { background-position: -243px -33px; }
        .jssora03r.jssora03rdn { background-position: -303px -33px; }
                 </style>
                 <div id="jssor_1" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 809px; height: 150px; overflow: hidden; visibility: hidden;">
                  <!-- Loading Screen -->
                  <div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
                   <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;">
                   </div>
                   <div style="position:absolute;display:block;background:url('../images/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;">
                   </div>
                  </div>
                  <div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 809px; height: 150px; overflow: hidden;">
                   <div style="display: none;">
                    <a class="news_title" href="/cms/portal/read/tin-don-vi/news/vksnd-toi-cao-vao-cuoc-dieu-tra-vu-lam-oan-huynh-van-nen.html" rel="nofollow">
                     <img data-u="image" src="http://127.0.0.1:8000/cms/static/uploads/news/23-10-2000-2399-1449489782-4615-1457023004.jpg"/>
                     <h2 class="title">
                      VKSND Tối cao vào cuộc điều tra vụ làm oan Huỳnh Văn Nén
                     </h2>
                    </a>
                   </div>
                   <div style="display: none;">
                    <a class="news_title" href="/cms/portal/read/tin-don-vi/news/nhung-giot-nuoc-quy-hon-vang-trong-mua-han-man-khoc-liet.html" rel="nofollow">
                     <img data-u="image" src="http://127.0.0.1:8000/cms/static/uploads/news/nhung-giot-nuoc-quy-hon-vang-trong-mua-han-man-khoc-liet.JPG"/>
                     <h2 class="title">
                      Những giọt nước quý hơn vàng trong mùa hạn, mặn khốc liệt
                     </h2>
                    </a>
                   </div>
                   <div style="display: none;">
                    <a class="news_title" href="/cms/portal/read/tin-don-vi/news/vu-xe-camry-gay-tai-nan-thay-chet-khong-cuu-vi-vo-cam-hay-so-hai.html" rel="nofollow">
                     <img data-u="image" src="http://127.0.0.1:8000/cms/static/uploads/news/vu-xe-camry-gay-tai-nan-thay-chet-khong-cuu-vi-vo-cam-hay-so-hai.jpg"/>
                     <h2 class="title">
                      Vụ xe Camry gây tai nạn: Thấy chết không cứu vì vô cảm hay sợ hãi?
                     </h2>
                    </a>
                   </div>
                   <div style="display: none;">
                    <a class="news_title" href="/cms/portal/read/tin-don-vi/news/chu-tich-nuoc-cuoi-nhiem-ky-so-nhat-nguoi-ta-noi-lam-viec-kieu-cho-chieu.html" rel="nofollow">
                     <img data-u="image" src="http://127.0.0.1:8000/cms/static/uploads/news/news.avatar.a70dc631320a5c06.313434393734363535332d656c6c792d7472616e2d362e6a7067.jpg"/>
                     <h2 class="title">
                      Chủ tịch nước: 'Cuối nhiệm kỳ, sợ nhất người ta nói làm việc kiểu chợ chiều'
                     </h2>
                    </a>
                   </div>
                  </div>
                  <!-- Bullet Navigator -->
                  <div class="jssorb03" data-u="navigator" style="bottom:10px;right:10px;">
                   <!-- bullet navigator item prototype -->
                   <div data-u="prototype" style="width:21px;height:21px;">
                    <div data-u="numbertemplate">
                    </div>
                   </div>
                  </div>
                  <!-- Arrow Navigator -->
                  <span class="jssora03l" data-autocenter="2" data-u="arrowleft" style="top:0px;left:8px;width:55px;height:55px;">
                  </span>
                  <span class="jssora03r" data-autocenter="2" data-u="arrowright" style="top:0px;right:8px;width:55px;height:55px;">
                  </span>
                 </div>
                </div>
               </div>
              </div>
              <div class="lyrow ui-draggable" style="display: block;">
               <a class="remove label label-danger" href="#close">
                <i class="glyphicon-remove glyphicon">
                </i>
                remove
               </a>
               <span class="drag label label-default">
                <i class="glyphicon glyphicon-move">
                </i>
                drag
               </span>
               <div class="preview">
                Home:Tin tức sự kiện
               </div>
               <div class="view" id="9">
                <div class="ivinh_display" id="display_9">
                 <div class="home list_news">
                  <div class="box_title">
                   <a href="/cms/portal/folder/tintuc">
                    <span>
                     Tin tức sự kiện
                    </span>
                   </a>
                  </div>
                  <a href="/cms/portal/folder/tintuc">
                  </a>
                  <div class="wr_menu_box">
                   <a href="/cms/portal/folder/tintuc">
                   </a>
                   <ul class="menu_box" id="">
                    <a href="/cms/portal/folder/tintuc">
                    </a>
                    <li class="" id="">
                     <a href="/cms/portal/folder/tintuc">
                     </a>
                     <a class="" href="/cms/portal/folder/trang-chu" id="">
                      Trang chủ
                     </a>
                    </li>
                    <li class="" id="">
                     <a class="" href="/cms/portal/folder/gioi-thieu" id="">
                      Giới thiệu
                     </a>
                    </li>
                    <li class="" id="">
                     <a class="" href="/cms/portal/folder/tin-tuc-su-kien" id="">
                      Tin tức sự kiện
                     </a>
                    </li>
                    <li class="" id="">
                     <a class="" href="/cms/portal/folder/lien-he" id="">
                      Liên hệ
                     </a>
                    </li>
                   </ul>
                  </div>
                  <div class="box_content home2col">
                   <div class="col-md-12 bl_1">
                    <div class="col-md-12">
                     <div class="col-md-7">
                      <a class="news_title" href="/cms/portal/read/tin-don-vi/news/vksnd-toi-cao-vao-cuoc-dieu-tra-vu-lam-oan-huynh-van-nen.html" rel="nofollow " title="tag div position title">
                       VKSND Tối cao vào cuộc điều tra vụ làm oan Huỳnh Văn Nén
                      </a>
                      <img class="thumbnail" src="http://127.0.0.1:8000/cms/static/uploads/news/23-10-2000-2399-1449489782-4615-1457023004.jpg"/>
                      <p class="text-justify news_summary" title="tag p position summary">
                       Cục điều tra hình sự lần đầu gặp ông Nén sau gần 3 tháng ông và gia đình yêu cầu xử lý những người tham gia tố tụng khiến họ chịu oan trong 2 vụ án suốt hàng chục năm.
                      </p>
                     </div>
                     <div class="col-md-5">
                      <div class="ivinh_display" id="display_10">
                       <div class="box_content">
                        <ul class="list_news">
                         <li class="list_item">
                          <div class="col-md-4 col-xs-12 images">
                           <img class="thumbnail" src="http://127.0.0.1:8000/cms/static/uploads/news/23-10-2000-2399-1449489782-4615-1457023004.jpg"/>
                          </div>
                          <div class="col-md-8 col-sm-6 col-xs-12 title">
                           <a href="/cms/portal/read/tin-don-vi/news/vksnd-toi-cao-vao-cuoc-dieu-tra-vu-lam-oan-huynh-van-nen.html">
                            VKSND Tối cao vào cuộc điều tra vụ làm oan Huỳnh Văn Nén
                           </a>
                          </div>
                         </li>
                         <li class="list_item">
                          <div class="col-md-4 col-xs-12 images">
                           <img class="thumbnail" src="http://127.0.0.1:8000/cms/static/uploads/news/nhung-giot-nuoc-quy-hon-vang-trong-mua-han-man-khoc-liet.JPG"/>
                          </div>
                          <div class="col-md-8 col-sm-6 col-xs-12 title">
                           <a href="/cms/portal/read/tin-don-vi/news/nhung-giot-nuoc-quy-hon-vang-trong-mua-han-man-khoc-liet.html">
                            Những giọt nước quý hơn vàng trong mùa hạn, mặn khốc liệt
                           </a>
                          </div>
                         </li>
                         <li class="list_item">
                          <div class="col-md-4 col-xs-12 images">
                           <img class="thumbnail" src="http://127.0.0.1:8000/cms/static/uploads/news/vu-xe-camry-gay-tai-nan-thay-chet-khong-cuu-vi-vo-cam-hay-so-hai.jpg"/>
                          </div>
                          <div class="col-md-8 col-sm-6 col-xs-12 title">
                           <a href="/cms/portal/read/tin-don-vi/news/vu-xe-camry-gay-tai-nan-thay-chet-khong-cuu-vi-vo-cam-hay-so-hai.html">
                            Vụ xe Camry gây tai nạn: Thấy chết không cứu vì vô cảm hay sợ hãi?
                           </a>
                          </div>
                         </li>
                         <li class="list_item">
                          <div class="col-md-4 col-xs-12 images">
                           <img class="thumbnail" src="http://127.0.0.1:8000/cms/static/uploads/news/news.avatar.a70dc631320a5c06.313434393734363535332d656c6c792d7472616e2d362e6a7067.jpg"/>
                          </div>
                          <div class="col-md-8 col-sm-6 col-xs-12 title">
                           <a href="/cms/portal/read/tin-don-vi/news/chu-tich-nuoc-cuoi-nhiem-ky-so-nhat-nguoi-ta-noi-lam-viec-kieu-cho-chieu.html">
                            Chủ tịch nước: 'Cuối nhiệm kỳ, sợ nhất người ta nói làm việc kiểu chợ chiều'
                           </a>
                          </div>
                         </li>
                        </ul>
                       </div>
                      </div>
                     </div>
                    </div>
                   </div>
                  </div>
                 </div>
                </div>
               </div>
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
      <div class="lyrow ui-draggable" style="display: block;">
       <a class="remove label label-danger" href="#close">
        <i class="glyphicon-remove glyphicon">
        </i>
        remove
       </a>
       <span class="drag label label-default">
        <i class="glyphicon glyphicon-move">
        </i>
        drag
       </span>
       <div class="preview">
        <input class="form-control" type="text" value="12"/>
       </div>
       <div class="view">
        <div class="clearfix">
         <div class="col-md-12 column ui-sortable">
          <div class="lyrow ui-draggable" style="display: block;">
           <a class="remove label label-danger" href="#close">
            <i class="glyphicon-remove glyphicon">
            </i>
            remove
           </a>
           <span class="drag label label-default">
            <i class="glyphicon glyphicon-move">
            </i>
            drag
           </span>
           <div class="preview">
            Copyright
           </div>
           <div class="view" id="13">
            <div class="ivinh_display" id="display_13">
             <div class="copyright">
              <div class="col-md-9">
               <strong>
                © Copyright 2016 cms.ivinh.com
               </strong>
               <p>
                Tổng biên tập:........................... Trụ sở:.....................................................................
               </p>
               <p>
                Giấy phép số:......................do Bộ Thông tin - Truyền thông Cấp ngày ... tháng ... năm .......
               </p>
               <p>
                Bản quyền thuộc về Báo Hà Tĩnh . Cấm sao chép dưới mọi hình thức nếu không có sự chấp thuận bằng văn bản.
               </p>
              </div>
              <div class="col-md-3">
               <p>
                Liên hệ Tòa soạn:
                <strong>
                 01656656777
                </strong>
                - Email:
                <strong>
                 anhnt@ivinh.com
                </strong>
               </p>
               <p>
                Liên hệ quảng cáo:
                <strong>
                 01656656777
                </strong>
               </p>
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </body>
</html>