{{extend 'layout/home31.html'}}
  <div class="lyrow ui-draggable" style="display: block;">
   <a class="remove label label-danger" href="#close">
    <i class="glyphicon-remove glyphicon">
    </i>
    remove
   </a>
   <span class="drag label label-default">
    <i class="glyphicon glyphicon-move">
    </i>
    drag
   </span>
   <div class="preview">
    Danh sách tin tức
   </div>
   <div class="view" id="3">
    <div class="ivinh_display" id="display_3">
     Không có dữ liệu
    </div>
   </div>
  </div>
