<link href="{{=URL('static','plugins/superfish/dist/css/superfish.css')}}" rel="stylesheet">	
<link href="{{=URL('static','plugins/superfish/dist/css/superfish-vertical.css')}}" rel="stylesheet">	

<script src="{{=URL('static','plugins/superfish/dist/js/hoverIntent.js')}} "></script>
<script src="{{=URL('static','plugins/superfish/dist/js/superfish.js')}} "></script>

<script>

	jQuery(document).ready(function(){
		jQuery('ul.sf-menu').superfish({
			animation: {height:'show'},	// slide-down effect without fade-in
			delay:		 700			// 1.2 second delay on mouseout
		});
	});

</script>