{{extend "layout.html"}}

<script src="{{=URL('static','plugins/bootbox/bootbox.min.js')}}"></script>
<script src="{{=URL('static','plugin_upload/jfu/js/vendor/jquery.ui.widget.js')}}" type="text/javascript"></script>
<script src="{{=URL('static','plugin_upload/jfu/js/jquery.iframe-transport.js')}}" type="text/javascript"></script>
<script src="{{=URL('static','plugin_upload/jfu/js/jquery.fileupload.js')}}" type="text/javascript"></script>
<link href="{{=URL('static','plugin_upload/jfu/css/style.css')}}" rel="stylesheet" type="text/css" />
<link href="{{=URL('static','plugin_upload/jfu/css/jquery.fileupload.css')}}" rel="stylesheet" type="text/css" />

<div class="container">
    <!-- The fileinput-button span is used to style the file input field as button -->
    <span class="btn btn-success fileinput-button">
        <i class="glyphicon glyphicon-plus"></i>
        <span>Select files...</span>
        <!-- The file input field used as target for the file upload widget -->
        <input id="fileupload" type="file" name="fileupload" multiple>
    </span>
    <br>
    <br>
    <!-- The global progress bar -->
    <div id="progress" class="progress">
        <div class="progress-bar progress-bar-success"></div>
    </div>
    <!-- The container for the uploaded files -->
    <div id="files" class="files"></div>
    <br>
</div>


<script>
/*jslint unparam: true */
/*global window, $ */
$(function () {
    'use strict';
    // Change this to the location of your server-side upload handler:
    var url = '{{=URL(f="handle_upload")}}';
    $('#fileupload').fileupload({
        url: url,
        dataType: 'json',
        done: function (e, data) {
            $.each(data.result.files, function (index, file) {
                $('<p/>').text(file.name).appendTo('#files');
            });
        },
        progressall: function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress .progress-bar').css(
                'width',
                progress + '%'
            );
        }
    }).prop('disabled', !$.support.fileInput)
        .parent().addClass($.support.fileInput ? undefined : 'disabled');
});
</script>
