.row {padding:15px; margin:0px !important;}

.navbar-ivinh  { background:#614889 !important;}
.navbar-ivinh a {color:#FFF!important;}

.placeholder {text-align:center; margin-top:10px; float:left; margin:0 20px;}
.placeholder img {
display: inline-block;
border-radius: 50%;
border:2px solid #ccc;
width:150px;
height:150px;
}
.placeholder a  { 
	text-decoration:none;
	
}
.placeholder a  h4{ 
	color:inherit;
}