<!-- Start About Area -->
<section class="about-area about-area-two about-area-four about-area-six bg-f7f7f7 ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-content">
                    <span>{{=data['dis']}}</span>
                    <h2>{{=data['title']}}</h2>
                    <p>{{=data['content']}}</p>
                    <a class="default-btn" href="/tao-don">
                        Tạo đơn
                    </a>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="about-img-six" style="position: relative;">

                    <div class="about-img-six">
                        <img src="{{=URL('static','%s/img')%(static_default)}}/{{=data['img']}}" alt="image">
                        <a class="white video-btn popup-youtube" href="{{=data['video']}}" style=" position: absolute;
    top: 38%;
    left: 45%;
    transform: translate(-50%, -50%);
    ">
                            <i class='bx bx-play'></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="lines">
        <div class="line-two"></div>
        <div class="line-two"></div>
        <div class="line-two"></div>
    </div>
</section>
<!-- End About Area -->

<!-- Stat Choose Area -->
<section class="choose-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Tại sao bạn chọn chúng tôi?</h2>
            <p>Chuyển phát nhanh là một dịch vụ sáng tạo là giải pháp hậu cần hiệu quả cho việc vận chuyển hàng hóa nhỏ.
                Dịch vụ này rất hữu ích cho các công ty khác nhau...</p>
        </div>

        <div class="row">
            {{for item in data['benefit'] : }}
            <div class="col-lg-4 col-sm-6">
                <div class="single-choose text-center">
                    <div class="choose-head">
                        {{=item['img']}}
                        <h3>{{=item['title']}}</h3>
                    </div>
                    <div class="choose-content">
                        <p class="ellipsis-hidden-4">{{=item['content']}}</p>

                    </div>
                </div>
            </div>
            {{ pass }}
        </div>
    </div>
</section>
<!-- End Choose Area -->