<!-- End Began Area -->
<section class="began-area began-area-three began-area-four">
    <div class="container-fluid p-0">
        <div class="began-top-wrap">
            <div class="row">
                <div class="col-lg-5 pr-0">
                    <div class="begans-bg">
                    </div>
                </div>
                <div class="col-lg-7 pl-0">
                    <div class="began-wrap">
                        <h2>Giữ an toàn cho hàng hóa của bạn với Ghephang</h2>
                        <div class="row">
                            <div class="col-lg-4 col-sm-6 p-0">
                                <div class="single-began">
                                    <i class="flaticon-fast-delivery"></i>
                                    <h3>Giao hàng nhanh và hiệu quả</h3>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 p-0">
                                <div class="single-began">
                                    <i class="flaticon-lock"></i>
                                    <h3>Bảo hiểm cho phương tiện vận chuyển</h3>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 p-0">
                                <div class="single-began">
                                    <i class="flaticon-stopwatch"></i>
                                    <h3>Theo dõi thời gian thực</h3>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 p-0">
                                <div class="single-began">
                                    <i class="flaticon-payment-method"></i>
                                    <h3>Phương thức thanh toán dễ dàng</h3>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 p-0">
                                <div class="single-began">
                                    <i class="flaticon-warehouse"></i>
                                    <h3>Hỗ trợ 24/7</h3>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 p-0">
                                <div class="single-began">
                                    <i class="flaticon-distribution"></i>
                                    <h3>Kho lưu trữ an toàn</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Began Area -->