<!-- Start Brand Area -->
<div class="brand-area pt-100 pb-70">
    <div class="container">
        <div class="section-title" style="max-width: 625px;
                    margin: -8px auto 40px;
                    text-align: center;
                    position: relative;">
            <span>Liên kết</span>
            <h2>Đơn vị hợp tác với chúng tôi</h2>
            
        </div>
        <div class="row">
            <div class="brand-wrap owl-carousel owl-theme">
                <div class="brand-item">
                    <a href="#">
                        <img src="{{=URL('static','%s/img')%(static_default)}}/brand/vietsun.png" alt="Image">
                    </a>
                </div>
                <div class="brand-item">
                    <a href="#">
                        <img src="{{=URL('static','%s/img')%(static_default)}}/brand/ghtk.png" alt="Image">
                    </a>
                </div>
                <div class="brand-item">
                    <a href="#">
                        <img src="{{=URL('static','%s/img')%(static_default)}}/brand/namhai.png" alt="Image">
                    </a>
                </div>
                <div class="brand-item">
                    <a href="#">
                        <img src="{{=URL('static','%s/img')%(static_default)}}/brand/nhattin.png" alt="Image">
                    </a>
                </div>
                <div class="brand-item">
                    <a href="#">
                        <img src="{{=URL('static','%s/img')%(static_default)}}/brand/viettelpost.png" alt="Image">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Brand Area -->