<!-- Start Counter Area -->
<section class="counter-area counter-area-two pt-100 pb-70 jarallax" data-jarallax='{"speed": 0.3}'
    style="margin-bottom: 100px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-counter">
                    <i class="flaticon-box"></i>
                    <h2>
                        <span class="odometer" data-count="8845">00</span> <span class="traget"></span>
                    </h2>
                    <p>Đơn hàng đã giao</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-counter">
                    <i class="flaticon-planet-earth"></i>
                    <h2>
                        <span class="odometer" data-count="15">00</span> <span class="traget"></span>
                    </h2>
                    <p>Điểm nhận hàng</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-counter">
                    <i class="flaticon-support"></i>
                    <h2>
                        <span class="odometer" data-count="12337">00</span> <span class="traget"></span>
                    </h2>
                    <p>Đối tác doanh ngiệp</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-counter">
                    <i class="flaticon-product-realise"></i>
                    <h2>
                        <span class="odometer" data-count="5316">00</span> <span class="traget"></span>
                    </h2>
                    <p>Đối tác tài xế</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Counter Area -->