<!-- Start FAQ Area -->
<section class="faq-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span class="pumpkin-color">FAQ</span>
            <h2>CÂU HỎI THƯỜNG GẶP</h2>
            <p>Bạn có thể tìm hiểu thông tin về chúng tôi</p>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="questions-bg-area">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="faq-accordion">
                                <ul class="accordion">
                                    <li class="accordion-item">
                                        <a class="accordion-title active" href="javascript:void(0)">
                                            <span>1</span>
                                            GhepHang có dịch vụ giao hàng cho doanh nghiệp không??
                                        </a>
                                        <p class="accordion-content show">Bạn hãy yên tâm vì chúng tôi đang đang phục vụ cho hơn 10,000 doanh nghiệp và hộ kinh doanh cá thể hàng ngày trong những
                                        chuyến giao hàng siêu tốc đến khách hàng của họ.
                                        Chúng tôi cung cấp dịch vụ giao hàng cho tất cả doanh nghiệp thuộc mọi quy mô ở Việt Nam với chất lượng giao hàng nhanh
                                        chóng và giá cả cạnh tranh. GhepHang đáp ứng tuyệt đối nhu cầu của bạn ở cả mùa cao điểm hay thường nhật, dù doanh
                                        nghiệp của bạn sử dụng giao hàng chỉ với số lượng đơn hàng ít mỗi tuần hay số lượng đơn hàng lớn mỗi ngày, chúng tôi đều
                                        có thể tối ưu dịch vụ theo yêu cầu của doanh nghiệp.<br>
                                        Tìm hiểu thêm bằng cách liên hệ tại đây, tư vấn viên của chúng tôi sẽ liên hệ sớm nhất với bạn để được hỗ trợ.</p>
                                    </li>
                                    <li class="accordion-item">
                                        <a class="accordion-title" href="javascript:void(0)">
                                            <span>2</span>
                                            Cước phí giao hàng GhepHang được tính như thế nào?
                                        </a>
                                        <p class="accordion-content">Phí dịch vụ được dựa trên nhiều yếu tố như tình hình giao thông, kích thước hàng hóa, khả năng nhận đơn của đối tác tài
                                        xế, phí cầu đường, các phụ phí,... Vì vậy tổng giá dịch vụ có thể thay đổi. Giá hiển thị tại thời điểm đặt đơn có thể
                                        không giữ nguyên nếu có thay đổi về chi tiết đơn hàng.
                                        <br />
                                        Mở ứng dụng GhepHang và chỉ cần chọn loại xe, điểm nhận và trả hàng. Bạn sẽ ngay lập tức được cung cấp chi tiết về giá
                                        trước khi quyết định đặt đơn.</p>
                                    </li>
                                    <li class="accordion-item">
                                        <a class="accordion-title" href="javascript:void(0)">
                                            <span>3</span>
                                            GhepHang có thể vận chuyển những hàng hóa cồng kềnh với số lượng lớn hay không?
                                        </a>
                                        <p class="accordion-content">Bạn hãy hoàn toàn yên tâm, thế mạnh của chúng tôi còn là chuyên vận chuyển các loại hàng lớn, cồng kềnh mà bạn không thể
                                        vận chuyển vừa trên các phương tiện như xe máy hoặc xe ô tô. Ngoài phương tiện vận chuyển bằng xe máy, chúng tôi còn có
                                        thêm phương tiện vận chuyển: xe bán tải/ xe van/ xe tải chuyên dụng với trọng tải từ 500kg đến 2 tấn, đáp ứng tốt mọi
                                        nhu cầu khi bạn cần.</p>
                                    </li>
                                    <li class="accordion-item">
                                        <a class="accordion-title" href="javascript:void(0)">
                                            <span>4</span>
                                            Trở thành đối tác tài xế của GhepHang có lợi ích gì?
                                        </a>
                                        <p class="accordion-content">GhepHang là ứng dụng giao hàng theo yêu cầu, giúp kết nối với tài xế với khách hàng có nhu cầu. Bạn có thể xem và chọn
                                        đơn đặt hàng mà mình muốn giao. Bạn cũng có thể nhận nhiều hoặc ít đơn hàng tùy ý vào bất kỳ thời điểm nào trong ngày!
                                        <br />Tăng thêm thu nhập mỗi tháng từ những đơn giao hàng. Nhận tiền ngay sau mỗi đơn hoàn thành. <br />Tự do lựa chọn bao nhiêu đơn hàng tùy thích bằng cách làm việc trong thời gian rảnh
                                    </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 20px;">
                            <div class="col-lg-12 col-md-12">
                                <a type="submit" href="/faq" class="default-btn btn-two active">
                                    <span class="label">Đặt câu hỏi</span>
                                    <i class='bx bx-plus'></i>
                                </a>
                                <div id="msgSubmit" class="h3 text-center hidden"></div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="faq-img">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End FAQ Area -->