<!-- Start Fun Facts Area -->
<section class="fun-facts-area">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-lg-6">
                <div class="facts-img"></div>
            </div>
            <div class="col-lg-6">
                <div class="skill-bar-wrapper">
                    <div class="fun-facts-content">
                        <span>Năng lực của chúng tôi</span>
                        <h2>Cung Cấp Nhiều Dịch Vụ & Giải Pháp Cao Cấp Trên Toàn Quốc</h2>
                    </div>
                    
                    <div class="skill-bar" data-percentage="90%">
                        <h4 class="progress-title-holder clearfix">
                            <span class="progress-title">Tốc độ giao hàng</span>
                            <span class="progress-number-wrapper">
                                <span class="progress-number-mark">
                                    <span class="percent"></span>
                                    <span class="down-arrow"></span>
                                </span>
                            </span>
                        </h4>
                        <div class="progress-content-outter">
                            <div class="progress-content"></div>
                        </div>
                    </div>
                    <div class="skill-bar" data-percentage="95%">
                        <h4 class="progress-title-holder">
                            <span class="progress-title">Kho bãi</span>
                            <span class="progress-number-wrapper">
                                <span class="progress-number-mark">
                                    <span class="percent"></span>
                                    <span class="down-arrow"></span>
                                </span>
                            </span>
                        </h4>
                        <div class="progress-content-outter">
                            <div class="progress-content"></div>
                        </div>
                    </div>
                    <div class="skill-bar" data-percentage="85%">
                        <h4 class="progress-title-holder clearfix">
                            <span class="progress-title">Tốc độ lên đơn</span>
                            <span class="progress-number-wrapper">
                                <span class="progress-number-mark">
                                    <span class="percent"></span>
                                    <span class="down-arrow"></span>
                                </span>
                            </span>
                        </h4>
                        <div class="progress-content-outter">
                            <div class="progress-content"></div>
                        </div>
                    </div>
                    <div class="skill-bar" data-percentage="80%">
                        <h4 class="progress-title-holder clearfix">
                            <span class="progress-title">Giá cước minh bạch</span>
                            <span class="progress-number-wrapper">
                                <span class="progress-number-mark">
                                    <span class="percent"></span>
                                    <span class="down-arrow"></span>
                                </span>
                            </span>
                        </h4>
                        <div class="progress-content-outter">
                            <div class="progress-content"></div>
                        </div>
                    </div>
                    <div class="skill-bar mb-0" data-percentage="75%">
                        <h4 class="progress-title-holder clearfix">
                            <span class="progress-title">Tối ưu hệ thống</span>
                            <span class="progress-number-wrapper">
                                <span class="progress-number-mark">
                                    <span class="percent"></span>
                                    <span class="down-arrow"></span>
                                </span>
                            </span>
                        </h4>
                        <div class="progress-content-outter">
                            <div class="progress-content"></div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="lines">
        <div class="line-two"></div>
        <div class="line-two"></div>
        <div class="line-two"></div>
    </div>
</section>
<!-- End Fun Facts Area -->