<!-- Start Header Area -->
<header class="header-area header-area-four">
    <!-- Start Top Header Area -->
    <div class="header-style-four">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-5">
                    <div class="header-left-content">
                        <ul>
                            <li>
                                <a href="tel:0377888678">
                                    <i class="bx bx-phone-call"></i>
                                    0377 888 678
                                </a>
                            </li>
                            <li>
                                <a href="mailto:info@ghephang.com">
                                    <i class="bx bx-envelope"></i>
                                    [info@ghephang.com]
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-8 col-md-7">
                    <div class="header-right-content">
                        <ul class="additional-link">
                            <li>
                                <a href="/uu-dai">Ưu đãi</a>
                            </li>
                            <li>
                                <a href="/tuyen-dung">Tuyển dụng</a>
                            </li>
                            <li>
                                <a href="/faq">Câu hỏi thường gặp</a>
                            </li>
                        </ul>
                        <ul class="social-links">
                            {{include 'site/ghephang/default/component/social-list.html'}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Top Header Area -->

    <!-- Start Prevoz Navbar Area -->
    <div class="prevoz-nav-style">
        <div class="navbar-area">
            <!-- Menu For Mobile Device -->
            <div class="mobile-nav">
                <a href="/" class="logo">
                    <img src="{{=URL('static','%s/img')%(static_default)}}/logo.png" alt="Logo">
                </a>
            </div>
            
            <!-- Menu For Desktop Device -->
            <div class="main-nav">
                <nav class="navbar navbar-expand-md navbar-light">
                    <div class="container">
                        <a class="navbar-brand" href="/">
                            <img src="{{=URL('static','%s/img')%(static_default)}}/logo.png" alt="Logo">
                        </a>
                        <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">

                            {{include 'site/ghephang/default/component/menu.html'}}

                            <!-- Start Other Option -->
                            <div class="others-option">
                                <div class="search-wrap">
                                    <a href=".search">
                                        <i class='bx bx-search'></i>
                                    </a>
                                </div>
                                <button  type="button" class="sidebar-menu" data-bs-toggle="modal"
                                    data-bs-target="#myModal2">
                                    <i class="flaticon-menu"></i>
                                </button>

                                <div class="dark-switch">
                                    <div class="switch-box">
                                        <label id="switch" class="switch">
                                            <input type="checkbox" onchange="toggleTheme()" id="slider">
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- End Other Option -->
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- End Prevoz Navbar Area -->
</header>
<!-- End Header Area -->