<!-- Start Sidebar Modal -->
<div class="sidebar-modal">
    <div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">
                            <i class="bx bx-x"></i>
                        </span>
                    </button>
                    </button>
                    <h2 class="modal-title" id="myModalLabel2">
                        <a href="/trang-chu">
                            <img src="{{=URL('static','%s/img')%(static_default)}}/logo.png" alt="Logo">
                        </a>
                    </h2>
                </div>
                <div class="modal-body">
                    <div class="sidebar-modal-widget">
                        <h3 class="title">Thông tin về chúng tôi</h3>
                        <p><b>Ghephang.com</b> với mong muốn đơn giản hóa việc giao hàng, giúp các chủ cửa hàng, các nhà hàng đến các công ty tại Việt Nam
                        có thể tận hưởng một dịch vụ cao cấp tiện lợi nhưng với giả cả hợp lý.</p>
                    </div>
                    <div class="sidebar-modal-widget">
                        <h3 class="title">Liên kết bổ sung</h3>
                        <ul>
                            <li>
                                <a href="#">Đăng nhập</a>
                            </li>
                            <li>
                                <a href="#">Đăng ký ngay</a>
                            </li>
                            <li>
                                <a href="/faq">FAQ</a>
                            </li>
                            <li>
                                <a href="#">Đăng xuất</a>
                            </li>
                        </ul>
                    </div>
                    <div class="sidebar-modal-widget">
                        <h3 class="title">Contact Info</h3>
                        <ul class="contact-info">
                            <li>
                                <i class="bx bx-location-plus"></i>
                                Địa chỉ
                                <span>New York - 1060, Str. First 78 Great Western Road</span>
                            </li>
                            <li>
                                <i class="bx bx-envelope"></i>
                                Email
                                <a
                                    href="mailto:info@ghephang.com"><span
                                        class="__cf_email__">[info@ghephang.com]</span></a>
                                <a
                                    href="mailto:info@ghephang.com"><span
                                        class="__cf_email__" >[info@ghephang.com]</span></a>
                            </li>
                            <li>
                                <i class="bx bxs-phone-call"></i>
                                Phone
                                <a href="tel:0356 656 777">0356 656 777</a>
                                <a href="tel:0356 656 777">0356 656 777</a>
                            </li>
                        </ul>
                    </div>
                    <div class="sidebar-modal-widget">
                        <h3 class="title">Kết nối với chúng tôi</h3>
                        <ul class="social-list">
                            {{include 'site/ghephang/default/component/social-list.html'}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Sidebar Modal -->