<div class="single-blog">
    <a href="news-details.html">
        <img src="{{=URL('static','%s/img')%(static_default)}}/blog/13.jpg" alt="Image">
    </a>
    <div class="blog-content">
        <ul>
            <li>
                <a href="#"><img src="{{=URL('static','%s/img')%(static_default)}}/blog/4.jpg" alt="Image"></a>
                <a href="#">By: Jon Smith</a>
            </li>
            <li>jan 30, 2020</li>
        </ul>
        <h3>
            <a href="news-details.html">
                Exporters Achieve Cost Savings Throughout the sale
            </a>
        </h3>
        <p>Lorem, ipsum dolor ipsum sit amet consectetur adipisicing elit. vel odio impedit reiciendis,
            eligendi.</p>
        <a class="read-more" href="news-details.html">
            Read More
            <i class='bx bx-right-arrow-alt'></i>
        </a>
    </div>
    <span>Delivery</span>
</div>