<div class="col-lg-4 col-md-12">
    <aside class="widget-area" id="secondary">
        <!-- <div class="widget widget_search"> -->
            <!-- <h3 class="widget-title">Search Now</h3> -->
            <!-- <div class="post-wrap"> -->
                <!-- <form class="search-form"> -->
                    <!-- <label> -->
                        <!-- <span class="screen-reader-text">Search for:</span> -->
                        <!-- <input type="search" class="search-field" placeholder="Search..."> -->
                    <!-- </label> -->
                    <!-- <button type="submit"><i class='bx bx-search'></i></button> -->
                <!-- </form> -->
            <!-- </div> -->
        <!-- </div> -->

        <section class="widget widget-peru-posts-thumb">
            <h3 class="widget-title">Bài viết nổi bật</h3>
                
            <div class="post-wrap">
                {{=portlet.display(128)}}
 
            </div>
        </section>

 

        <section class="widget widget_categories">
            {{=portlet.display(117)}}
        </section>
        
        <section class="widget widget_categories">
            {{=portlet.display(172)}}
        </section>
 
        <section class="widget widget_categories">
            {{=portlet.display(173)}}
        </section>
 
    </aside>
</div>