<div class="subscribe-area ptb-100">
    <div class="container">
        <div class="section-title white-title">
            <h2>Đăng ký nhận bản tin mới nhất</h2>
        </div>
        <div class="tracking-body">
            <form class="tracking-wrap newsletter-form" data-toggle="validator">
                <input type="email" class="input-tracking" placeholder="Email của bạn" name="EMAIL" required
                    autocomplete="off">

                <button class="default-btn active" type="submit">
                    Đăng ký
                </button>

                <div id="validator-newsletter" class="form-result"></div>
            </form>
        </div>
    </div>
</div>