<section class="testimonials-three pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span>Khách hàng chia sẻ về</span>
            <h2>DỊCH VỤ CỦA GHÉP HÀNG</h2>
        </div>
        <div class="row">
            <div class="testimonials-wrap-three owl-carousel owl-theme">
                <div class="testimonials-content-three">
                    <div class="testimonials-top-content">
                        <img src="{{=URL('static','%s/img')%(static_default)}}/testimonials/breaking.png" alt="Image">
                        <h3>Hoàng Minh</h3>
                        <span>Trưởng phòng vận chuyển Điện Máy Xanh</span>
                    </div>
                    <p>Dịch vụ chuyên nghiệp, làm việc hiệu quả, nhanh chóng. Giá cả cũng rất phù hợp, nhân viên rất có trách nhiệm.</p>
                    <ul>
                        <li>
                            <i class='bx bxs-star'></i>
                        </li>
                        <li>
                            <i class='bx bxs-star'></i>
                        </li>
                        <li>
                            <i class='bx bxs-star'></i>
                        </li>
                        <li>
                            <i class='bx bxs-star'></i>
                        </li>
                        <li>
                            <i class='bx bxs-star'></i>
                        </li>
                    </ul>
                </div>
                <div class="testimonials-content-three">
                    <div class="testimonials-top-content">
                        <img src="{{=URL('static','%s/img')%(static_default)}}/testimonials/User-Avatar-in-Suit-PNG.png" alt="Image">
                        <h3>Hoàng Thắng</h3>
                        <span>Phó giám đốc BIH</span>
                    </div>
                    <p>Hiệu quả mang lại cao. Chấm 10 điểm cho sự nhanh chóng. Giá cả cũng rất hợp lý. Không cần phải bàn cãi nhiều về chất
                    lượng !!!</p>
                    <ul>
                        <li>
                            <i class='bx bxs-star'></i>
                        </li>
                        <li>
                            <i class='bx bxs-star'></i>
                        </li>
                        <li>
                            <i class='bx bxs-star'></i>
                        </li>
                        <li>
                            <i class='bx bxs-star'></i>
                        </li>
                        <li>
                            <i class='bx bxs-star'></i>
                        </li>
                    </ul>
                </div>
                <div class="testimonials-content-three">
                    <div class="testimonials-top-content">
                        <img src="{{=URL('static','%s/img')%(static_default)}}/testimonials/User-Avatar-Profile-PNG-Isolated-Transparent-Picture.png" alt="Image">
                        <h3>Mr Nam Vinh</h3>
                        <span>Giám đốc vận hành Nam Vinh Group</span>
                    </div>
                    <p>Dịch vụ Ghép Hàng vận chuyển hàng hóa mọi khối lượng lớn nhỏ, đảm bảo không hư hỏng, va chạm trong quá trình vận chuyển
                    hàng.</p>
                    <ul>
                        <li>
                            <i class='bx bxs-star'></i>
                        </li>
                        <li>
                            <i class='bx bxs-star'></i>
                        </li>
                        <li>
                            <i class='bx bxs-star'></i>
                        </li>
                        <li>
                            <i class='bx bxs-star'></i>
                        </li>
                        <li>
                            <i class='bx bxs-star'></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>