{{include 'web2py_ajax.html'}}
<link href="{{=URL(r=request,c='static',f='plugin_app/css/admin.css')}}" rel="stylesheet" type="text/css" />
<link href="{{=URL(r=request,c='static',f='css/web2py.css')}}" rel="stylesheet" type="text/css" />
<link type="text/css" href="{{=URL(r=request,c='static',f='plugin_app/jquery-ui/css/ui-lightness/jquery-ui-1.8.16.custom.css')}}" rel="stylesheet" />	
<script type="text/javascript" src="{{=URL(r=request,c='static',f='plugin_app/jquery-ui/js/jquery-ui-1.8.16.custom.min.js')}}"></script>
{{=content}}

